.bg-dots {
  background-image: radial-gradient(rgba(0, 0, 0, 0.18) 30%, transparent 40%);
  background-size: 3px 3px;
}
.bg-burst-left {
  background-color: hsla(161, 77%, 83%, 0.06);
  background-image:
    radial-gradient(
      circle at 7% 81%,
      hsla(172, 91%, 91%, 0.24) 16%,
      transparent 53%
    ),
    radial-gradient(
      circle at 5% 1%,
      hsla(191.91176470588238, 76%, 61%, 0.29) 7%,
      transparent 84%
    ),
    radial-gradient(
      circle at 39% 52%,
      hsla(137, 93%, 64%, 0.29) 6%,
      transparent 68%
    ),
    radial-gradient(
      circle at 11% 29%,
      hsla(201.00000000000006, 96%, 75%, 0.24) 8%,
      transparent 74%
    ),
    radial-gradient(
      circle at 90% 50%,
      hsla(106.00000000000003, 94%, 89%, 0.18) 2%,
      transparent 85%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
}
.bg-burst-right {
  background-color: hsla(161, 77%, 83%, 0.06);
  background-image:
    radial-gradient(
      circle at 93% 81%,
      hsla(172, 91%, 91%, 0.24) 16%,
      transparent 53%
    ),
    radial-gradient(
      circle at 95% 1%,
      hsla(191.91176470588238, 76%, 61%, 0.29) 7%,
      transparent 84%
    ),
    radial-gradient(
      circle at 61% 52%,
      hsla(137, 93%, 64%, 0.29) 6%,
      transparent 68%
    ),
    radial-gradient(
      circle at 89% 29%,
      hsla(201.00000000000006, 96%, 75%, 0.24) 8%,
      transparent 74%
    ),
    radial-gradient(
      circle at 10% 50%,
      hsla(106.00000000000003, 94%, 89%, 0.18) 2%,
      transparent 85%
    );
  background-blend-mode: normal, normal, normal, normal, normal;
}