---
// Assets
import Dots from "@/components/assets/Dots.astro";
import Burst from "@/components/assets/Burst.astro";
import Kicker from "@/components/assets/Kicker.astro";
import SectionDivider from "@/components/assets/SectionDivider.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section class="relative overflow-hidden">
    <Burst />
    <Dots />
    <SectionDivider />
    <Wrapper variant="standard" class="relative pt-30 lg:pt-60 pb-28">
      <div class="items-start grid grid-cols-1 lg:grid-cols-8 gap-y-8">
        <Kicker> typography</Kicker>
        <Text
          tag="h1"
          variant="displayMD"
          class="font-display text-base-900 lg:-mt-1 text-balance lg:col-span-7"
        >
          Inter & JetBrains Mono
        </Text>
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="flex flex-col font-medium textbase-9000">
        <div class="py-4">
          <Text tag="p" variant="textXS"> Text XS </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="textSM"> Text SM </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="textBase"> Text Base </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="textLG"> Text LG </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="textXL"> Text XL </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="displayXS" class=""> Display XS </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="displaySM" class=""> Display SM </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="displayMD" class=""> Display MD </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="displayLG" class=""> Display LG </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="displayXL" class=""> Display XL </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="display2XL" class=""> Display 2XL </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="display3XL" class=""> Display 3XL </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="display4XL" class=""> Display 4XL </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="display5XL" class=""> Display 5XL </Text>
        </div>
        <div class="py-4">
          <Text tag="p" variant="display6XL" class=""> Display 6XL </Text>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
