---
// Assets
import Kicker from "@/components/assets/Kicker.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="relative pt-30 lg:pt-60 pb-28">
      <div class="items-start grid grid-cols-1 lg:grid-cols-8 gap-y-8">
        <Kicker>404</Kicker>
        <div class="relative text-balance lg:col-span-7">
          <Text
            tag="h2"
            variant="displaySM"
            class="font-display text-base-900 lg:-mt-1"
          >
            Well, this is awkward.
          </Text>
          <Text tag="p" variant="textBase" class="text-base-700 mt-1">
            The page you’re looking for either vanished, never existed, or
            decided it was too cool to show up. We respect the hustle.
          </Text>
          <div class="flex flex-wrap mt-8 gap-2">
            <Button isLink={true} size="sm" variant="default" href="/"
              >Go to Homepage</Button
            >
            <Button
              isLink={true}
              size="sm"
              variant="muted"
              href="/forms/contact">Still lost? Contact us</Button
            >
          </div>
        </div>
      </div>
    </Wrapper>
  
  </section>
</BaseLayout>
